
<div class="fondo">
  <div class="wrapper">
    <form action="#" autocomplete="off">
      <h2>Register</h2>
      <div class="input-field">
        <input type="text" required autocomplete="off">
        <label>Enter your username</label>
      </div>
      <div class="input-field">
        <input type="text" required autocomplete="off">
        <label>Enter your email</label>
      </div>
      <div class="input-field">
        <input type="password" required autocomplete="off">
        <label>Enter your password</label>
      </div>
      <div class="input-field">
        <input type="password" required autocomplete="off">
        <label>Comfirm your password</label>
      </div>
      <div class="forget">
        <label for="remember">
          <input type="checkbox" id="remember">
          <p>Remember me</p>
        </label>
      </div>
      <button type="submit">Register</button>
      <div class="register">
        <p>Don't have an account? <a href="#">Register</a></p>
      </div>
    </form>
  </div>

</div>
