/* Estilos generales */

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;

}

/* Contenedor del login */

.login-container {
  margin: 0 auto;
  width: 90vw;
  height: 90%;
  display: flex;
  padding-top: 50px;
  justify-content: center;
  align-items: center;
  color: #fff;
}

/* Formulario de login */

.login-form {
  margin-top: 0;
  background-color: #333;
  /*opacity: 0.5;*/
  padding:  40px;
  border: 5px solid #ffffff;
  border-radius: 10px;
  width: 400px;
  text-align: center;
}

/* Imagen del logo */

.logo {
  width: 200px;
  height: 200px;
  margin-bottom: 15px;
  user-select: none;
}

/* Titulo del formulario */

h1 {
  font-size: 25px;
  margin-bottom: 20px;
}

/* Campos de texto */

.input-text {
  width: 100%;
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 20px;
}

/* Botón de login */

.login-button {
  margin: 0;
  margin-bottom: 10px;
  background-color: #1a1a1a;
  border: 2px solid #fff;
  color: #fff;
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

/* Enlace para recuperar contraseña */

.enlace{
  text-decoration: none;
  color: #ffffff;
  margin-top:20px
}

@media (max-width: 650px) {
  .login-form {
    width: 100%;
    border: none;
    border-radius: 0;
  }

}
