<div class="container">
  <div class="wrapper">
    <img class="logo-img" src="/assets/proyect-img.png" >
    <form autocomplete="off" [formGroup]="proyectForm" (ngSubmit)="onSubmit()">
      <h2>CREATE NEW PROYECT</h2>
      <div class="input-field">
        <input type="text" formControlName="email"required autocomplete="off" id="email">
        <label>Enter your Proyect Name</label>
      </div>
      <div class="input-field">
        <input type="password" formControlName="password" required autocomplete="off" id="password">
        <label>Enter The Description</label>
      </div>
      <div class="forget">
        <label for="remember">
          <input type="checkbox" id="remember">
          <p>Remember me</p>
        </label>
        <a href="#">Forgot password?</a>
      </div>
      <button type="submit" >CREATE</button>
      <div class="register">
        <p>Don't have an account? <a href="/register">Register</a></p>
      </div>
    </form>
  </div>

</div>


