
* {
  box-sizing: border-box;
  font-family: sans-serif;
}

img {
  width: 350px;
  height: 300px;
}

body {
  margin: 0;
  background: #1a1a1a/*#1B537F*/;
  overflow: auto;
}

nav {
  width: 100%;
  height: 82px;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
      150deg,
      #1a1a1a 10%,
      #151515 40%,
      #333 70%
  );
  color: white;
  position: static;
  top: 0;
}

nav h2 {
  margin-left: 2rem;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

nav ul li {
  margin: 1rem 2rem;
}

nav > ul > li > a {
  text-decoration: none;
  text-align: center;
  color: #daf1ff;
}

main {
  padding: 0;
  margin: 0;
}

#welcome-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("assets/fondo.jpg"); /*#1B537F*/
  background-size:cover ;
  margin: 0;
  justify-content: center;
  align-items: center;
}

#welcome-section h1 {
  margin: 0;
  text-align: center;
  font-size: 8vh;
  color: #ffffff;
}

#welcome-section p {
  margin: 0;
  text-align: center;
  font-size: 6vh;
  color: #9e9e9e;
}

#projects {
  margin: 0;
  padding: 0;
}

.espacio {
  background: #0D2A3F;
  width: 100%;
  height: 82px;
}

#projects {
  background: #21689E;
}

#projects h2 {
  margin: 0;
  padding: 1rem;
  text-align: center;
  background: #35A6FD;
  color: #0D2A3F;
}

.contenedor {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.proyect {
  border: 2px solid black;
  width: 355px;
  height: 320;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid;
}

.proyect a {
  width: 100%;
  height: 2rem;
  text-decoration: none;
  color: #daf1ff;
  background-color: #0D2A3F;
  padding: 0.5rem;
}

@media (min-width: 1300px) {
  .contenedor {
      width: 1300px;
  }
}

#contacts {
  margin: 0;
  padding-bottom: 12rem;
  background-color: #0D2A3F;

}

#contacts .espacio-con {
  background: #21689E;
  width: 100%;
  height: 82px;
}

#contacts h2 {
  text-align: center;
  color: #ffffff;
  padding: 0;
  margin: 10rem auto 0 auto;
  font-size: 3rem;
}

#contacts p {
  text-align: center;
  color: #ffffff;
  margin: 0;
  font-size: 1.8rem;
}

#contacts a {
  text-decoration: none;
  color: #ffffff;
}

#contacts a i {
  font-style: normal;
}

#emailContainer {
  margin: 1rem auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

#email {
  background-color: black;
  border: 2px double black;
  padding: 1px 5px;
  font-size: 1.5rem;
}

button {
  margin: 5px;
  border-radius: 10px;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  background-color: #287DBE;
  text-align: center;
}

button:hover {
  cursor: pointer;
}

.links {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 2rem;
}

.links a:hover, .links i:hover {
  color: #0D2A3F;
  background: #35A6FD;
  border-radius: 10px;
  padding: 2px;
}

@media (max-width: 900px) {
  #contacts h2 {
      font-size: 2rem;
  }

  #contacts p {
      font-size: 1.5rem;
      padding: 2px;
  }

  .links {
      flex-direction: column;
  }
}

@media (max-width: 650px) {
  nav {
      flex-direction: column;
      justify-content: center;
      padding: 0;
  }

  nav h2 {
      margin: 0;
      padding-top: 10px;
  }

  nav ul {
      margin: 0;
  }

  nav ul li {
      margin: 10px 1rem;
  }

  #contacts h2 {
      margin: 3px;
  }

  #contacts {
      padding: 0;
  }
}

@media (max-width: 500px) {
  #welcome-section {
      margin: 0px;
  }
}

@media (max-width: 400px) {
  nav ul {
   font-size: smaller;
   padding-left: 0;
}

nav ul li {
 margin-left: 0;
  padding-left: 0;
}
}
